input {
    padding-top: 25px;
    margin: 10px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid gray;
    font-size: 1rem;
}

input::placeholder {
    text-align: center;
}