input {
    padding: 15px;
    margin: .25rem auto 1rem auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 1rem;
}

input::placeholder {
    text-align: center;
}

@media(max-width: 768px) {
    input {
        padding: 5px;
    }
}